# <center> Week 2: Data Preparation </center>

## Learning Objectives 

* What is data preparation? 
* How we can prepare data in Python?

[For online lab click here](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?urlpath=lab/tree/demo/Lorenz.ipynb)

## Importing data


![dataloading](Figs/DataImport.PNG)

#### 1- From files [(To learn more, click here)](https://www.py4e.com/lessons/files)
#### 2- From database [(To learn more, click here)](https://www.py4e.com/lessons/json)
#### 3- From Internet [(To learn more, click here).](https://www.py4e.com/lessons/servces) For more datasets [(Click here)](https://archive.ics.uci.edu/ml/datasets.html)

### Reading CSV files:

In [122]:
import pandas as pd
import numpy as np

DFf=pd.read_table('C:\\Users\\Esmal\\Desktop\\bigdata\\data\\Adult.data',sep=',')

DFw=pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep=',')

In [123]:
DFf.head(5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

**Add header to the dataframe**

- 1- Specify that there is no header in the original link by: **header=None**.

- 2- Specify column names with a list of strings **(names=YourLIST)**.

In [127]:

HeadNames=['age', 'workclass', 'fnlwg', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
           'race', 'sex','capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income' ]


DFw=pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep=',', header=None, names=HeadNames)


DFw.head()

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [128]:
DFw.shape

(32561, 15)

In [129]:
DFw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwg             32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [132]:
DFw.isnull().sum()

age               0
workclass         0
fnlwg             0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [133]:
DFw.describe()

,age,fnlwg,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Adding, dropping columns

**Add 1 to all rows of new column called 'Big Data'**

In [134]:
DFw['Big Data']=1

In [135]:
DFw.head()

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,Big Data
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1

**Drop columns 'Big Data' and 'capital-loss'**

In [139]:
DFw.columns

Index(['age', 'workclass', 'fnlwg', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income', 'Big Data'],
      dtype='object')

In [140]:
DFw2=DFw.drop(['capital-loss','Big Data'], axis=1)

Which columns do we have now? Why?

**Drop 3rd and 4th row**

In [141]:
DFw3=DFw2.drop([2,3],axis=0)

Which rows do we have now? Why?

**Drop missing values** [[Ref.]](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)

### Filtering rows based on conditions

**General format: df[ (condition1) * (condition2) ...]**

**Example:** Create a new dataframe that only contains females older than 40 years old.

In [203]:
DFw3['sex'].value_counts()

 Male      21788
 Female    10771
Name: sex, dtype: int64

In [227]:
#Remove white space in dataframe

DFw3.replace(' ', '', inplace=True)    # What happens if we don't remove the white space?

In [229]:
DFw3[(DFw3['sex']=='Female') & (DFw3['age']>40)]    ## use DFw3['sex'][0] to make sure that

,age,workclass,fnlwg,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,hours-per-week,native-country,income
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,16,Jamaica,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,45,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,20,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,40,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,40,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,40,United-States,<=50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,60,Honduras,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,40,United-States,>50K
82,46,Private,51618,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,40,United-States,<=50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,40,United-States,>50K
85,53,Private,346253,HS-grad,9,Divorced,Sales,Own-child,White,Female,0,35,United-States,<=50K
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,50,United-States,>50K
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,40,England,<=50K
102,47,Self-emp-not-inc,149116,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,50,United-States,<=50K
125,47,Private,287828,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,40,United-States,>50K
134,46,Private,146195,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,Black,Female,0,36,United-States,<=50K
143,45,Private,196584,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,40,United-States,>50K
149,43,?,174662,Some-college,10,Divorced,?,Not-in-family,White,Female,0,40,United-States,<=50K
150,47,Local-gov,186009,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,38,Mexico,<=50K
160,68,?,38317,1st-4th,2,Divorced,?,Not-in-family,White,Female,0,20,United-States,<=50K
162,44,Self-emp-inc,78374,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Female,0,40,United-States,<=50K
169,66,Local-gov,54826,Assoc-voc,11,Widowed,Prof-specialty,Not-in-family,White,Female,0,20,United-States,<=50K
181,43,Private,114580,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,40,United-States,<=50K
186,41,Self-emp-not-inc,143129,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,40,United-States,<=50K
187,53,?,135105,Bachelors,13,Divorced,?,Not-in-family,White,Female,0,50,United-States,<=50K
203,42,Local-gov,254817,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,40,United-States,<=50K
208,58,Self-emp-inc,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,35,United-States,>50K
216,50,Private,313321,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Female,0,40,United-States,<=50K
224,53,Local-gov,140359,Preschool,1,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,35,United-States,<=50K
226,60,?,24215,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,10,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32386,59,Federal-gov,23789,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,40,United-States,>50K
32396,56,Private,135458,HS-grad,9,Divorced,Tech-support,Not-in-family,Black,Female,0,40,United-States,<=50K
32397,41,Private,185660,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,40,United-States,<=50K
32401,52,Local-gov,143533,7th-8th,4,Never-married,Other-service,Other-relative,Black,Female,0,40,United-States,<=50K
32422,47,Private,161950,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,32,United-States,<=50K
32423,61,Private,98776,11th,7,Widowed,Handlers-cleaners,Not-in-family,White,Female,0,30,United-States,<=50K
32427,41,Private,206878,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,32,United-States,<=50K
32429,51,Local-gov,203334,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,45,United-States,>50K
32431,51,Private,274502,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,48,United-States,<=50K
32445,61,Private,190682,HS-grad,9,Widowed,Craft-repair,Not-in-family,Black,Female,0,50,United-States,<=50K
32446,53,Private,158993,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,Black,Female,0,38,United-States,<=50K
32454,50,Private,257933,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,40,United-States,<=50K
32460,62,Private,128092,HS-grad,9,Widowed,Adm-clerical,Not-in-family,White,Female,0,32,United-States,<=50K
32465,66,Private,269665,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,25,United-States,<=50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,99,?,<=50K
32470,50,Private,485710,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,50,United-States,<=50K
32473,41,Federal-gov,160467,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,1506,40,United-States,<=50K
32479,64,State-gov,222966,7th-8th,4,Married-civ-spouse,Other-service,Wife,Black,Female,0,40,United-States,<=50K
32481,52,Private,301229,Assoc-voc,11,Separated,Sales,Unmarried,White,Female,0,40,United-States,<=50K
32484,48,Private,268083,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,40,United-States,<=50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,50,United-States,>50K
32508,45,Private,155093,10th,6,Divorced,Other-service,Not-in-family,Black,Female,0,38,Dominican-Republic,<=50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,22,United-States,>50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,1,?,<=50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,32,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,48,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,40,United-States,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,40,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,40,United-States,>50K

**Example:** Which "workclass" makes more than 50k?

In [238]:
DFw3[DFw3['income']== ">50K"].workclass.value_counts()  #Other usefull inputs to value_counts:  normalize=True, dropna=False

Private             4963
Self-emp-not-inc     724
Self-emp-inc         622
Local-gov            617
Federal-gov          371
State-gov            353
?                    191
Name: workclass, dtype: int64

## Data Visualization

![pairplot](Figs/seaborn_pairplot-1.png)

* pd.df.Value_counts()
* pd.df.describe()
* pd.df.info()

## Data Cleaning:

![DataCleaning](Figs/DataCleaning.PNG)

* Checking data format
* Handling missing data
* Removing anomalies