# Assignment 1: 
### Data science tools and libraries

The purpose of this assignment is to recognize Python libraries and commands/syntax that are relevant for data science and statistical analysis.
This assignment provides you with an opportunity to demonstrate the achievement of the following course learning outcomes:

- Know most important libraries in Python that will be essential for implementation of data science projects in Python 

- Be able to manipulate datasets in Python

### Key Information
- **Type:** Individual
- **Weight:** 6.5%
- **Delivery:** Course website upload
- **Due Date:** 22/01/2019

### 1- Import Numpy, Pandas, Scipy, matplotlib, sklearn

In [1]:
import numpy as np
import pandas as pd
import scipy as sc
import matplotlib
import sklearn

### 2- Open supplied CSV file “Office”

In [4]:
## your code here
df=pd.read_table("Office.csv",sep=',')

df.head()

   OrderDate   Region      Rep     Item  Units  Unit Price
0   4-Jul-14     East  Richard  Pen Set     62        4.99
1  12-Jul-14     East     Nick   Binder     29        1.99
2  21-Jul-14  Central   Morgan  Pen Set     55       12.49
3  29-Jul-14     East    Susan   Binder     81       19.99
4   7-Aug-14  Central  Matthew  Pen Set     42       23.95

### 3- Characterize the dataset: 

Use: name.describe()

In [9]:
# Write your code here

df.describe()

           Units  Unit Price
count  43.000000   43.000000
mean   49.325581   20.308605
std    30.078248   47.345118
min     2.000000    1.290000
25%    27.500000    3.990000
50%    53.000000    4.990000
75%    74.500000   17.990000
max    96.000000  275.000000

#### Create two new variables X and Y with number of values matching length of columns in the imported file: 

Use: numpy:random.random(length)

In [11]:
x = np.random.random(43)
x=x*100
y = np.random.random(43)
y=y*100

print(y)

[49.63387831 99.00878063  4.25061524 14.32782427  4.39397477 55.46287469
 44.49241913  5.82810926 93.36216636 67.11436446 13.32011114 80.58169254
 37.35256058 21.87448893 36.83603684 96.10756463  3.36135176  6.83408782
 48.51029113 15.4027417  49.91244863 47.99665249 77.55397514 92.47757151
 90.42868745 75.84963597 39.8460133  22.42920531 47.54137469 44.99407535
 68.33238616 82.59845517 93.94357471 32.55137249 78.64913686 52.12615386
 30.61421109 48.05826622  3.37803886 69.46495281  1.622586   95.30994241
 65.46342549]

### 4- Scale created variables to be within 0-100 value range

Use: name=name*100

In [13]:
## Write your code here

### 5-Create third variable Z as a function between X and Y that utilizes functions “+”, “*”, “/”

In [14]:
## Write your code here

### 6- Create forth dataset ZZ as ascending range of values from 0 to the number of elements each vector should have:
Use: ZZ =np.arange(numberofelements)

In [16]:
## Write your code here

### 7-Combine X, Y, Z and ZZ informing a table T:
Use: T = numpy.array ( list (zip (x,y,z,zz)))

In [22]:
## Write your code here

### 8- Combine T with the original dataset imported from CVS:
Use: dataset3 = numpy.c_(dataset1, dataset2)

In [27]:
## Write your code here

### 9- Create labels for new dataset so X, Y and Z  columns are labeled as “Demand”, Supply”, “Projected growth”, ‘Index’

Use: column_labels = [‘Name’, ‘Name2, “Name3’]

In [26]:
## Write your code here

### 10-Combine labels with the dataset: 
Use: pandas.dataframe (dataset, columns = column_labels)

In [28]:
## Write your code here